{% extends "base.html" %}
{% block titulo %}Detalle del expediente {% endblock %}
{% block contenido %}
   


    <div> 
        <h1>Detalle del expediente</h1>
    </div>


    <div>
        <h3>{{ expediente.caratula }}</h3>
        <p>Número: {{ expediente.numero | default:"Sin número asignado"}}</p>
        <p>Estado: {{ expediente.get_estado_display }}</p>
        <p>Fuero / juzgado: {{ expediente.fuero_juzgado | default:"Sin especificar"}}</p>
        <p>Tipo de proceso: {{ expediente.tipo_proceso | default:"Sin especificar"}}</p>
        <p>Fecha de inicio: {{ expediente.fecha_inicio | default:"Sin especificar"}}</p>
        <p>Observaciones: {{ expediente.observaciones | default:"Sin observaciones"}}</p>
        <p>Fecha de creación: {{ expediente.creado }}</p>
        <p>Fecha de ultima actualización: {{ expediente.actualizado }}</p>
     </div>
    
    <div> 
        <a href="{% url 'expedientes:lista' %}">Volver al listado de expedientes</a>
    </div>


{% endblock %}