{% extends "base.html" %}
{% block titulo %}Listado de expedientes {% endblock %}
{% block contenido %}
   
    <div> 
        <h1>Listado de expedientes</h1>
    </div>


    {% for expediente in expedientes %}

    
        <div>
            <h3>
                <a href="{% url 'expedientes:detalle' expediente.pk %}">{{ expediente.caratula }}</a>            
            </h3>
            <p>{{ expediente.numero | default:"Sin número asignado"}}</p>
            <p>Fecha de creación: {{ expediente.creado }}</p>
            <p>Fecha de ultima actualización: {{ expediente.actualizado }}</p>
            <p>{{ expediente.get_estado_display }}</p>
        </div>
    {% empty %}
        <p>No hay expedientes disponibles.</p>
    {% endfor %}


{% endblock %}